
    html{
        background: cadetblue;
    }
    body{
        background-color:ghostwhite;
        width: 100%;
        max-width: 640px;
        margin: 0 auto;
    }
    h1{
        color: white;
        text-align: center;
        font-size: 35px;
        padding-top: 10px;
        padding-bottom: 11px;

    }
    .qui-header{
      background-color:brown;  
      height: 60px;
      
    }
    .plcRoutelist{
        /*border:1px solid brown;表示位置用颜色线显示定位*/
        margin-left: 5px;
    }
    .pic{
        border-radius: 50%;/*表示将内容变成圆型*/
    }
    .bottom{
        position:absolute;
        top: 390px;/*控制“我的旅游行程”的位置*/
        left: 450px;
    }
    .bottom2{
        position:absolute;
        top: 768px;/*控制“我的旅游行程”的位置*/
        left: 450px;
    }
    .face{
        float: left;/*向左浮动*/
        border: 1px solid white;
        width: 39px;
        height: 39px;
        border-radius: 50%;
    }
    .face2{
        float: left;/*向左浮动*/
        border: 1px solid white;
        width: 39px;
        height: 39px;
        border-radius: 50%;
    }
    .title{
        position: absolute;/*表示绝对位置*/
        color: white;
        white-space: nowrap;/*设置字体在同一行*/
        font-size: 18px;
        font-weight: bolder;
        line-height: 50px;/*行高*/
        margin-left: 50px;
    }
    .day{
        position: absolute;
        top: 90px;
        right: 450px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        background-color:darkcyan;
        line-height: 38px;
        color: white;
    }
    .day2{
        position: absolute;
        top: 490px;
        right: 450px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        background-color:darkcyan;
        line-height: 38px;
        color: white;
    }
    em{/*表示强调的内容。全emphasis*/
        font-style: normal;
        font-weight: bolder;
    }
    span{
        margin-left: 10px;/*与昆明等文字前面的间隔*/
    }
    .qui-aside{/*左边一整块*/
        position: absolute;/*定位*/
        top: 23px;
        left: 260px;
        width: 150px;
        height: 873px;
        background-color: darkslategrey;
    }
    ul{/*首页等文字块*/
        list-style: none;/*表示文字类型前面不需要点*/
        position: absolute;/*定位*/
        top: 100px;
        left: 6px;
    }
    .nav-aside{
        padding: 60px 30px; 
    }
    .nav-aside a{
        font-size: 16px;
        color: azure;
        line-height: 35px;
        padding-left: 10px;
        text-decoration: none;
        display: block;
    }
    .nav-aside a:hover{
        color: cornsilk;
        background-color: brown;
    }
    .qui-footer{
        text-align: center;
        font-size: 10px;
        line-height: 20px;
    }
    .qui-footer a{
        text-decoration: none;/*去掉下划线*/
        color: dimgray;
        margin-left: 60px ;/*字间距*/
    }